.idea/
.env.dist

# Linux trash folder which might appear on any partition or disk
.Trash-*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
Icon?

build/
.gradle
gradle/

# Folder config file
[Dd]esktop.ini